body {
	margin: 0;
        font-family: Noto serif, sans-serif;
	background-repeat:repeat-x;
	background-image:url(images/sitebg.jpg);
	background-color:#ffffff;
	width: 100%;
	min-width: 1200px;
}

header {
	color:#FFFFFF;
	background-color:#003669;
	text-align:left;
	padding:0px;
	min-width: 1000px;
}

header > div:first-child {
	clear: both;
	height: 100px;
	margin: 0 auto;
}

header a {
	color: #FFFFFF;
}

/* Navigation */
#top_navbar_container {
	background-color: #064f93;
	min-width: 1250px;
}

#top_navbar {
	clear: both;
	height: 2.8rem;
	margin: 0 auto;
	max-width: 1440px;
}

#right_navbarlinks{
	clear: both;
	float: right;
	font-size: 11px;
	color: #FFFFFF;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
}

#right_navbarlinks a{
        color: #ffffff;
}

#hor_dropdown {
	list-style:none;
	float:left;
	position:relative;
	font-size: 0.8rem;
	width:auto;
	/* height: 4.6rem; */ 
	/* height:31px; */
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left:0px;
	background-color: transparent;
}

#hor_dropdown li{		
	float: left;
	position: relative;
	padding: 0;
	margin: 0;
}

#hor_dropdown li a{
	display: block;
	color: #FFFFFF;
	text-decoration: none;
        padding: 12px;
        border-left: 1px solid #297ac6;
}

#hor_dropdown li:last-of-type a{
        border-right: 1px solid #297ac6;
}
#hor_dropdown a:hover{
	background-color: #003669;
	color: #FFFFFF;
	background-image: none;	
}
/* Submenu */
#hor_dropdown ul {
	list-style: none;
	position: absolute;
	left: -9999px;
	top: -9999px;
	background-color: #064f93;
	z-index: 1000;
	transition: display 0.3s;
	margin-top: 10px;
}

#hor_dropdown ul li{
	float: none;
}

#hor_dropdown ul a{
	white-space: nowrap;
}
#hor_dropdown li:hover ul {
	left: 0;
	top: 33px;
	padding-top: 8px;
        padding-left: 0;
	z-index: 1000;
}
#hor_dropdown li:hover ul a {
	padding: 10px 2px 10px 2px;
	text-decoration: none;
	text-indent: 8px;
	padding-right: 8px;
	background-image: none;
	background-color: #064f93;
	z-index:1000;
}
#hor_dropdown li:hover ul li a:hover { 
	background: #003669; 
}

footer {
	clear:both;
	background-color: #064f93;
	color: #ffffff;
}

footer p{ text-align: justify; margin: 0px 200px;  }
footer p img{ display:inline-block; height: 75px; margin-top: auto; margin-bottom: auto; vertical-align: middle; }
footer p:after{ content:""; display: inline-block; width: 100%; height: 0; }

@media (min-width: 450px) {
	footer img {
		width: auto;
		height: 80px;
	}
}

/*Left menu components*/
div.menu {
}

div.menuheader{
}

div.menuheader a{
}

div.menuheader a:hover {
}

div.menusubheader{
}

div.menusubheader a{
}

div.menusubheader a:hover {
}

div.menuitem {

}

div.menuitem a {
}

div.menuitem a:hover {
}

/*Central div in the middle center table div */
#innertext{
	font-size: 14px;
	max-width: 1000px;
	min-height: 100vh;
    margin: 0 auto;
	padding: 0rem 2.5rem;
}

@media (max-width: 790px) {
	#innertext {
		max-width: 100%;
	}
}

#innertext a{

}
#innertext a:hover{

}

.hero-bg {
	background-image: url(https://stri.si.edu/sites/all/themes/stri/assets/images/research/research-landing.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
        color: #FFFFFF;
	line-height: 1.7;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        overflow: hidden;
	width: 100%;
}

@media (min-width: 790px) {
	.hero-bg {
		padding: 3rem 0;
		margin-bottom: 0;
		max-height: 100%;
		width: 100%;
		top: -6px;
		position: relative;
	}
}

div.navpath {
	clear: both;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	margin-bottom: 0px;
}

#slideshowcontainer {
	clear: both;
	border: none !important;
	padding-top: 1rem;
	max-width: 300px;
	height: auto !important;
}

/*Checklist items*/
#cloptiondiv{
	min-height: 350px;
}


/* Typography */
h1, h2, h3, header a {
	font-family: FFDINWebPro,V erdana, Geneva, sans-serif;
        font-weight: 700;
}

h1 {
        font-size: 2.3rem;
}

/* Glossary Elements */
#glossaryBannerDiv{
}

#glossaryBannerDiv img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}


/* Grid */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 200px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }
}
